/*Default CSS File*/


body {
  max-width: 1024px;
  margin: 0 auto;
}


.profile {
  width: 200px;
  height: 200px;
  margin: 50px auto 0;
}

.round-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

h1 {
  margin: 20px auto 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.bio {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
}

.social {
  width: 75%;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

@media (max-width:767px) {
  .bio {
    width: 85%;
  }

  .social {
    width: 90%;
  }
}

.social li {
  display: inline;
  text-align: center;
  width:50px;
  height: 50px;
  margin: 0 20px;
}

.social li img {
  width: 50px;
  height: 50px;
}
