/*Default CSS File*/


body {
  max-width: 1024px;
  margin: 0 auto;
}


.profile {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 100%;
}

.profile img {
  width: 100%;
  height: 100%;
}
